@model Planet
@{
    ViewData["Title"] = Model.Name;
}


<div class="clearfix">
    <img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid rounded float-right" style="max-width: 160px;" />
    <p>@Model.Description</p>
    <p><a asp-action="Edit" asp-route-planetId="@Model.PlanetId">Edit @Model.Name</a></p>

</div>




<h2>Moons</h2>



<table class="table table-hover table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var moon in Model.Moons)
        {
            <tr>
                <td>@moon.Name</td>
                <td style="width: 1%;"><a asp-action="EditMoon" asp-route-planetId="@moon.PlanetId" asp-route-moonId="@moon.MoonId">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
