@model IEnumerable<Planet>
@{
    ViewData["Title"] = "Planets";
}

<table class="table table-hover">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Description</th>
        <th>Moons</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var planet in Model)
    {
        <tr>
            <td class="thumbnail">
                @if (!string.IsNullOrWhiteSpace(planet.ImageUrl))
                {
                    <img src="@planet.ImageUrl" alt="@planet.Name" />
                }
            </td>
            <td>@planet.Name</td>
            <td>@Html.Raw(planet.Description)</td>
            <td>@planet.Moons.Count</td>
            <td style="width: 1%;"><a asp-action="Details" asp-route-planetId="@planet.PlanetId">Details</a></td>
        </tr>
    }
    </tbody>
</table>
